body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    margin: 3px;
    border: none;
    background-color: #BA0F30;
    color: white;
    border-radius: 3px;
}

button:hover{
    cursor: pointer;
    color: black;
}

.container{
    width: 30vw;
    height: 90vh;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    background-image: url(img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.container .screen{
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.container .buttons{
    background-color: black;
}

.container .screen .values{
    height: 60%;
    width: 90%;
    font-size: 30px;
    word-wrap: break-word;
    background-color: #C6B79B;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
}

.container .screen .values .display-value, .container .screen .values .total-value{
    margin: 10px;
    display: flex;
    justify-content: end;
    height: 36px;
}

.container .buttons{
    display: flex;
    flex-direction: column;
    flex: auto;
}

.container .buttons .fourth-row .zero,.container .buttons .fourth-row .plus{
    display: flex;
    flex-shrink: 1.5;
}

.misc,.misc button,
.first-row,.first-row button,
.second-row,.second-row button, 
.third-row,.third-row button,
.fourth-row button,.fourth-row{
    display: flex;
    flex: auto;
    width: 100%;
    font-size: 20px;
}


