body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 30vw;
    height: 90vh;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
}

.container .screen{
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
}

.container .screen .values{
    height: 60%;
    width: 90%;
    font-size: 30px;
    word-wrap: break-word;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container .screen .values .display-value, .container .screen .values .total-value{
    margin: 10px;
    display: flex;
    justify-content: end;
    height: 36px;
}

.container .buttons{
    display: flex;
    flex-direction: column;
    flex: auto;
}

.misc,.misc button,
.first-row,.first-row button,
.second-row,.second-row button, 
.third-row,.third-row button,
.fourth-row button,.fourth-row{
    display: flex;
    flex: auto;
    width: 100%;
    font-size: 20px;
}
